<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>In The Know</title>
  <link rel="stylesheet" href="/assets/ZURB-foundation-6.4.2-complete/css/foundation.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body>

	{{{ body }}}

  <script src="/assets/ZURB-foundation-6.4.2-complete/js/vendor/jquery.js"></script>
  <script src="/assets/ZURB-foundation-6.4.2-complete/js/vendor/what-input.js"></script>
  <script src="/assets/ZURB-foundation-6.4.2-complete/js/vendor/foundation.js"></script>
  <script src="/assets/js/app.js"></script>
</body>

</html>